<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <roleManager enabled="true" />
        <anonymousIdentification enabled="true" />
        <compilation debug="true" targetFramework="4.0">
          <assemblies>
            <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          </assemblies>
        </compilation>
      <membership defaultProvider="CustomizedSqlProvider">
        <providers>
          <add name="CustomizedSqlProvider"
               type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
               connectionStringName="LocalSqlServer"
               requiresQuestionAndAnswer="false"
               requiresUniqueEmail="false"
          />
        </providers>
      </membership>
    </system.web>  
</configuration>
